<ul>
    <% messages.forEach((msg) => {  %>
      <li class="message">
        <div><span><%= msg.user %></span> <span><%= msg.createdAt_formatted %></span></div>
          <%= msg.text %> 
        </li>
    <% }); %>
</ul>