<ul>
    <% messages.forEach((msg) => {  %>
      <li class="message">
        <h2><span><%= msg.user %></span> <span><%= msg.createdAt_formatted %></span></h2>
          <p><%= msg.text %> </p>
        </li>
    <% }); %>
</ul>