<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: title}); %>
  <body>
    <main>
      <%- include('partials/messages', {messages: messages}); %>
      <a href="/new" autofocus>
        Add new message
      </a>
    </main>
  </body>
</html>
