<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: title}); %>
  <body>
    <main>
      <%- include('partials/messages', {messages: messages}); %>
      <form method="POST" action="/new" >
        <input type="text" name="user" placeholder="Enter your username" autofocus>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message">
        </textarea>
        <button type="submit">Send</button>
      </form>
    </main>
  </body>
</html>